<!DOCTYPE html>
<html lang="it">
	<head>
        <meta charset="UTF-8">
		<title>IntellDomus - WebApp | Home</title>
		<link href="stili/stileLayout.css" rel="stylesheet" />
	</head>
    
	<body>
	<header>
			<ul>
				<li>LED</li>
				<li>SURVELLANCE</li>
				<li>SMABELL</li>
				<li>OPZIONI</li>
				<li>ACCOUNT</li>
			</ul>
    </header><br />
		
		<div id="contenutoBox">
            <ul>
            <li><input type="radio" /></li>
            <li><input type="radio" /></li>
            <li><input type="radio" /></li>
            <li><input type="radio" /></li>
            <li><input type="radio" /></li>
            <li><input type="radio" /></li>
            </ul>
		</div>
	</body>
</html>	